body {
  background-color: #f0f7e0;
  background-color: rgba(10, 8, 8, 0.922);
  display: flex;
  font-family: Work Sans, sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  margin: 64px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 300px;
  height: 500px;
  background-color: rgb(211, 187, 221);
  border-radius: 70px;
}

.songList {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px;

  background-color: hsla(0, 0%, 100%, 0.5);
  border: none;
  border-radius: 10px;
}
